<%include partials/header%>
<h1>Compose</h1>

<form class="" action="/compose" method="post">
  <div class="topdiv">
    <label for="composePara1">TITLE</label>
    <input type="text"  class="form-control input1" rows="2" cols="120" name="composePara1" >
  </div>
  <div class="">
    <label for"name1">POST</label>
    <textarea class="textarea1 form-control" name="name1" rows="8" cols="120"></textarea>
  </div>
<div class="">
  <button class="btn btn-lg btn-primary"    type="submit" name="button">Publish</button>
</div>

</form>
<%include partials/footer%>
